.invisible {
	display: none;
}

.location {
	position: absolute;
	top: 128px;
	left: 50%;
	width: 512px;
	transform: translateX(-50%);
	border-radius: 12px;
	background-color: var(--background-tertiary);
	height: 100px;
}

.location-name {
	position: absolute;
	top: -20px;
	left: 12px;
	font-size: 32px;
	max-width: 424px;
	font-family: 'Cascadia Code', monospace;
	text-align: center;
	color: var(--text-primary);
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.location-path {
	position: relative;
	left: 12px;
	top: 32px;
	max-width: 424px;
	max-height: 38px;
	font-size: 16px;
	font-family: 'Cascadia Code', monospace;
	text-align: left;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--text-tertiary);
}

.location-more {
	position: absolute;
	top: 12px;
	right: 12px;
}

.location-more:hover {
	cursor: pointer;
}

.location-reveal {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.location-reveal:hover {
	cursor: pointer;
}