<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/all.css">
		<link rel="stylesheet" href="/static/css/game.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
		<title>GL | {{game.Name}}</title>
		<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap" rel="stylesheet">
	</head>

	<body class="body">

		<div class="topbar">
			<img id="home-button" src="/static/favicon.ico" class="topbar-icon" width="48" height="48">
			<div id="games-button" class="topbar-games">Games</div>
			<div id="locations-button" class="topbar-locations">Locations</div>
			<div id="images-button" class="topbar-images">Images</div>
			<div class="topbar-profile">
				<img src="/images/profile_picture" class="topbar-profile-picture" width="48" height="48">
				<p class="topbar-profile-username">{{username}}</p>
			</div>
			<img id="new-button" src="/static/add-secondary.png" class="topbar-add" width="48" height="48">
		</div>

		<p class="page-title">Viewing: {{game.Name}}</p>

		<div class="game">
			<img src="/images/{{game.BannerID}}" onerror="this.onerror=null; this.src='/static/no_banner.png';" class="game-banner" width="512" height="128">
			<img src="/images/{{game.ThumbnailID}}" class="game-icon" width="64" height="64">
			<p class="game-version">v{{game.VersionMajor}}.{{game.VersionMinor}}.{{game.VersionRevision}}</p>
			<p class="game-name">{{game.Name}}</p>
			<p class="game-description-long">{{game.LongDescription}}</p>
			<div id="launch-game" class="game-launch">Launch</div>
		</div>

		<script src="/static/js/all.js"></script>
		<script src="/static/js/game.js"></script>

	</body>

</html>