<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/css/all.css">
		<link rel="stylesheet" href="/static/css/game.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
		<title>GL | {{game.Name}}</title>
		<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap" rel="stylesheet">
	</head>

	<body class="body">

		<div class="topbar">
			<img id="home-button" src="/static/favicon.ico" class="topbar-icon" width="48" height="48">
			<div id="games-button" class="topbar-games">Games</div>
		</div>

		<script src="/static/js/all.js"></script>
		<script src="/static/js/game.js"></script>

	</body>

</html>