<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/all.css">
	<link rel="stylesheet" href="/static/css/games.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<title>GL | Games</title>
	<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="body">

	<div class="topbar">
		<img id="home-button" src="/static/favicon.ico" class="topbar-icon" width="48" height="48">
		<div id="games-button" class="topbar-games">Games</div>
		<div id="locations-button" class="topbar-locations">Locations</div>
		<div id="images-button" class="topbar-images">Images</div>
		<div class="topbar-profile">
			<img src="/images/profile_picture" class="topbar-profile-picture" width="48" height="48">
			<p class="topbar-profile-username">{{username}}</p>
		</div>
	</div>

	<p class="page-title">Games</p>

	<div class="game" id="base-game-template">
		<img id="game-icon" src="/static/logo2.png" class="game-icon" width="64" height="64">
		<p id="game-version" class="game-version">v0.0.0</p>
		<p id="game-name" class="game-name">GammaLauncher</p>
		<p id="game-description-short" class="game-description-short">GammaLauncher is the best and only launcher.</p>
		<img id="game-more" src="/static/link.png" class="game-more" width="48" height="48">
	</div>

	<script src="/static/js/all.js"></script>
	<script src="/static/js/games.js"></script>

</body>

</html>