<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/all.css">
	<link rel="stylesheet" href="/static/css/location.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<title>GL | {{location.Name}}</title>
	<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="body">

	<div class="topbar">
		<img id="home-button" src="/static/favicon.ico" class="topbar-icon" width="48" height="48">
		<div id="games-button" class="topbar-games">Games</div>
		<div id="locations-button" class="topbar-locations">Locations</div>
		<div id="images-button" class="topbar-images">Images</div>
		<div class="topbar-profile">
			<img src="/images/profile_picture" class="topbar-profile-picture" width="48" height="48">
			<p class="topbar-profile-username">{{username}}</p>
		</div>
		<img id="new-button" src="/static/add-secondary.png" class="topbar-add" width="48" height="48">
	</div>

	<p class="page-title">Viewing: {{location.Name}}</p>

	<div class="location" id="base-location-template">
		<p id="location-name" class="location-name">{{location.Name}}</p>
		<p id="location-path" class="location-path">{{location.Path}}</p>
		<img id="location-delete" src="/static/delete.png" class="location-delete" width="36" height="36">
		<img id="location-reveal" src="/static/folder.png" class="location-reveal" width="36" height="36">
	</div>

	<script src="/static/js/all.js"></script>
	<script src="/static/js/location.js"></script>

</body>

</html>