<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/all.css">
	<link rel="stylesheet" href="/static/css/new_location.css">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<title>GL | Creating a new location</title>
	<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="body">

	<div class="topbar">
		<img id="home-button" src="/static/favicon.ico" class="topbar-icon" width="48" height="48">
		<div id="games-button" class="topbar-games">Games</div>
		<div id="locations-button" class="topbar-locations">Locations</div>
		<div id="images-button" class="topbar-images">Images</div>
		<div class="topbar-profile">
			<img src="/images/profile_picture" class="topbar-profile-picture" width="48" height="48">
			<p class="topbar-profile-username">{{username}}</p>
		</div>
		<img id="new-button" src="/static/add-secondary.png" class="topbar-add" width="48" height="48">
	</div>

	<p class="page-title">Create a new location</p>

	<form id="location-form" class="location-form">
		<input type="text" id="location-title" class="location-title" name="Name" placeholder="Name" required>

		<input type="text" id="location-path" class="location-path" name="Path" placeholder="Path" required>

		<img id="location-create" src="/static/add.png" class="location-create" width="48" height="48">
	</form>

	<script src="/static/js/all.js"></script>
	<script src="/static/js/new_location.js"></script>

</body>

</html>